.divPrin{
    float: left;
    width: 30%;
    height: 300px;
    background-color: #cccccc;
    padding: 20px;
}

.h1-title{
font-size: 30px;
text-align: center;

}
.h1-subtitle{
  font-size: 15px;
  font-style: arial;
}

.head{
      background-color: #666666;
			padding: 30px;
			text-align: center;
			font-size: 30px;
			color: white;

}

.footer{
      background-color: #777777;
			padding: 10px;
			text-align: center;
			color:white;
      font-size: 10px;
      
}
