
body {
	/*color: #505050;*/
	
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
    line-height: 1.8;

    transition: background-color .5s;
}


.exit {
    color:black;
    cursor: pointer;
    display: block;
    font-size:14px;
    font-weight: 200px;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    float: right;
  }
  
  .exit:hover{
    background-color:red;
    color: #fff;
  }

.img-Logo{
    width:120px;
    height:100px;
    margin-left:15px;
    float: right;
    border-radius: 30%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
   
}

/* Style the buttons inside the tab */

.spanBtn{
    
            float: right;
            position: fixed;
			bottom: 0;
			right: 0;
            width: 300px;
            color: #49ACAE;

}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  
}








/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 100;
	/*color: #77C7AC;*/
    color: #49ACAE;
    font-size:200%;
}

.part{
    font-size: 130%;
    font-weight: 100;
    color: dodgerblue;
}

.partDoc{
    font-size: 130%;
    font-weight: 100;
    color: darkcyan;
}

a {
	text-decoration: none;
	color:black;
	font-weight: 300;
}

a:hover {
    color:red;
    text-decoration-line: underline;
}

#wrapper {
	width: 100%;
    margin: 0 auto;
    

}

#main {
	/*background-color: #fff;*/
	background-color: #C4C4C7;
	padding-top: 150px;
      min-height:500px;
      
      transition: margin-left .5s;
      padding: 16px;
}


 /*NAV BLACK INIT*/
 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    color: #C0392B;
    text-decoration: underline;
    
}


/*NAV BLACK finish*/

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0 30px;
    text-align: justify;}

    header {
        width: 100%;
        height: 10em;
        overflow: hidden;
        /*position: fixed;*/
        top: 0;
        left: 0;
        z-index: 999;
      border-bottom:solid 0.5em #f4f4f4;
        /*background-color: #394e63;*/
        background-color: #13232F;
        transition: height 0.3s;
    }

    header h1#logo {
        display: inline-block;
        line-height:3em;
       margin: 0;
       padding:0 1em;
    
        float: left;
        font-family: "Console";
        font-size: 60px;
        color: #fcfcfc;
      text-shadow: 0.1em 0.03em #C0392B;
        font-weight: 400;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    header.smaller {
        height: 75px;
    }
    
    header.smaller h1#logo {
        line-height: 75px;
        font-size: 30px;
    }
    
    header.smaller nav a {
        line-height: 75px;
    }  


    /* MEDIA TRANSICION!!!!!!*/



    footer {
        background-color: #3c3c3c;
        text-align: center;
    
       min-height:17em;
       color: #bababa;
    }
    
    footer  a {
        display: inline-block;
        margin: 0;
      text-decoration:underline;
    }
    footer div.col {
      width:20%;
      display:inline-block;
      vertical-align: top;
    }
    footer col a {
      display:block;
    }
    
    footer ul li a:hover {
        color: #fd5559;
    }
    footer ul li a {
        color: #bababa;
    }
    footer div#copy {
      margin-top: 1em;
      padding:0;
    }
    footer div#copy a {
      color: #fd5559;
    }
    footer div.container {
      position:relative;
    
    }
    footer ul{
      list-style:none;
      margin-top:2em;
      padding:0;
    }
    footer ul li {
      text-align:left;
      margin:0;
      padding:0;
    }
    
    .clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
    
    @media all and (max-width: 760px) {
        header h1#logo {
            display: block;
            float: none;
            margin: 0 auto;
            height: 100px;
            line-height: 80px;
            text-align: center;
        }
    
        header nav {
            display: block;
            float: none;
            height: 50px;
            text-align: center;
            margin: 0 auto;
        }
    
        header nav a {
            line-height: 50px;
            margin: 0 10px;
        }
    
        header.smaller {
            height: 75px;
        }
    
        header.smaller h1#logo {
            height: 40px;
            line-height: 40px;
            font-size: 30px;
         width:100%;
        }
    
        header.smaller nav {
            height: 35px;
        }
    
        header.smaller nav a {
            line-height: 35px;
        }
      footer div.col {
        width:100%;
        display:inline-block;
        vertical-align: top;
      }
      footer ul li {
        display:inline-block;
        margin:0 0.5em;
        float:left;
      }
    
    }
    
    @media all and (max-width: 600px) {
        .container {
            width: 100%;
        }
    
        footer a {
            display: block;
        }
    }
