
.idea/dataSources.local.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/TP-IngSoftware.iml
.idea/sqldialects.xml
.idea/modules.xml
.idea/misc.xml
.idea/dataSources/ca8303e1-b0ff-4902-a6be-aa0669cd7fdd.xml
.idea/dataSources.xml
.idea/php.xml
ini/princ/Soluciones/user1/Tablas derivadas.docx
ini/princ/Soluciones/Tablas derivadas.docx
ini/princ/Soluciones/Ejercicios PRO.pdf
.idea/dictionaries/luis.xml
.idea/dataSources/b69a94ba-bd60-425e-94e1-3f6eb5d9b4b4/storage_v2/_src_/schema/web.VMsBAA.meta
.idea/dataSources/b69a94ba-bd60-425e-94e1-3f6eb5d9b4b4.xml
